<ng-container *ngIf="product">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12">
      <ngx-gallery *ngIf="galleryImages && galleryImages.length" [options]="galleryOptions" [images]="galleryImages"
                   class="ngx-gallery"></ngx-gallery>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12">
      <div class="descriptions">
        <h1 class="desc__name">
          {{product.name}}
        </h1>
        <div class="desc__sale-type">
          Товар продается в {{product.saleType?.name}}
        </div>
        <div class="desc__price">
          {{product.price}} сом/{{product.saleType?.shortName}}
        </div>
        <div class="desc__btns">
          <app-counter [(value)]="count"></app-counter>
          <div class="short-sale-type">{{product.saleType?.shortName}}</div>
          <button class="btn-add-card">В корзину</button>
        </div>
        <div class="characteristic" *ngIf="product.characteristicValues">
          <h3 class="characteristic__title">Характеристики</h3>
          <div class="characteristic__table">
            <nz-table #basicTable
                      [nzData]="product.characteristicValues"
                      [nzFrontPagination]="false"
                      [nzShowPagination]="false">
              <tbody>
              <tr *ngFor="let data of basicTable.data" class="table__row">
                <td class="table__name">{{data.characteristic?.name}}</td>
                <td class="table__value">{{data.value}}</td>
              </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desc__desc">
    <div [innerHTML]="product.desc"></div>
  </div>
</ng-container>
