<div class="wrapper">
  <h1 class="title">О нас</h1>
  <p class="text">
    это первый открытый Маркетплейс, который покупатель может купить товары без посредника у ведущих магазинов и
    складов,
    Нашей целью является облегчить поиск товара, а продавцу дать возможность без посредников предоставить товар. Мы не
    являемся посредником между продавцом и покупателя,
    мы всего лишь мост который соединяет покупателя к продавцу, и при этом контролируем компетентность продавца
    (магазина
    или склада).
  </p>
</div>
