<div class="title">
  <h2>Характеристики</h2>
  <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="openModal()"> Добавить</button>
</div>

<nz-table #basicTable [nzBordered]="true" [nzData]="characteristics" [nzShowPagination]="false" [nzFrontPagination]="false">
  <thead>
  <tr>
    <th>ID</th>
    <th>Порядковый номер</th>
    <th>Наименование</th>
    <th>Возможные значение</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.orderNumber }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.valueList }}</td>
    <td>
      <button nz-button [nzSize]="'small'" [nzType]="'dashed'" (click)="openModal(data.id)">Изменить</button>
      <button nz-button [nzSize]="'small'" [nzType]="'danger'" (click)="delete(data.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</nz-table>
