<h2>Товар</h2>
<form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label nzRequired>Наименование</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <input type="text" nz-input formControlName="name">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Описания</nz-form-label>
    <nz-form-control [nzErrorTip]="errorBlock">
      <angular-editor formControlName="desc" [config]="editorConfig"></angular-editor>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Цена от поставщика</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <input type="number" nz-input formControlName="ownerPrice">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Цена</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <input type="number" nz-input formControlName="price">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Статус</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <nz-select formControlName="active">
        <nz-option [nzValue]="true" [nzLabel]="'Активный'"></nz-option>
        <nz-option [nzValue]="false" [nzLabel]="'Не активный'"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Категория</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <nz-tree-select [nzNodes]="categoryNodes" [nzMultiple]="false" formControlName="categoryId">
      </nz-tree-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Товар продается в</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <nz-select formControlName="saleTypeId">
        <nz-option [nzValue]="saleType.id" [nzLabel]="saleType.name+' ('+saleType.shortName+')'"
                   *ngFor="let saleType of saleTypes"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Компания</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <nz-select formControlName="companyId">
        <nz-option [nzValue]="company.id" [nzLabel]="company.name" *ngFor="let company of companies"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Фотографии</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <app-images-upload formControlName="photos"></app-images-upload>
    </nz-form-control>
  </nz-form-item>

  <h3>Харатеристики</h3>
  <ng-container *ngFor="let characteristic of characteristics.controls; index as index">
    <div class="mb-1" nz-row [formGroup]="characteristic">
      <nz-form-item nz-col class="ml-1">
        <nz-form-label nzRequired>Названия</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
          <input type="text" nz-input formControlName="title" [nzAutocomplete]="auto">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col class="ml-1">
        <nz-form-label nzRequired>Значение</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
          <input type="text" nz-input formControlName="value">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col class="ml-1">
        <nz-form-label nzRequired></nz-form-label>
        <button nz-button nzType="default" type="button" nzShape="circle" (click)="removeCharacteristic(index)">
          <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
      </nz-form-item>
    </div>
  </ng-container>
  <button class="mb-3" nz-button nzType="default" type="button" (click)="addCharacteristic()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Добавить характеристику
  </button>

  <nz-form-item>
    <nz-form-control>
      <button nz-button [nzType]="'primary'">Сохранить</button>
      <button appBack nz-button nzType="default" type="button" class="margin-left">Назад</button>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #errorBlock let-control>
  {{control.errors | validate}}
</ng-template>

<nz-autocomplete [nzDataSource]="productCharacteristicSuggests" nzBackfill #auto></nz-autocomplete>


