.container {
  min-height: 100%;
  width: calc(100% - 40px);
  margin: 0 20px;
}


.header {
  margin: 0 auto;
  max-width: 1115px;
  //height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  width: 250px;
  margin-right: 40px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.search {
  display: flex;
  align-items: center;
  //min-width: 600px;
}

.search__category {
  width: 180px;
  border-right-width: 0;
}

.search__input-wrapper {
  //width: 400px;
}

.search__input {
  &::placeholder {
    font-weight: 600;
  }
}

.header__contact {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  min-width: 160px;
}

.site-header__phone-title {
  font-size: 14px;
  color: #999;
}

.site-header__phone-number {
  font-size: 20px;
  font-weight: 700;
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.whatsaap-icon {
  font-size: 15px;
  margin-right: 5px;
  color: green;
}

.content {
  margin: 0 auto;
  max-width: 1115px;
  padding: 20px 0;
}
