<div class="container1" #container>
  <div class="header">
    <div class="header__logo-block" routerLink="/">
      <img class="logo" src="assets/img/logo.png" alt="">
      <div class="logo__desc">
        <h1 class="logo__title">БатСтрой</h1>
        <div class="logo__subtitle">Онлайн магазин строительных материалов</div>
      </div>
    </div>
    <div class="search">
      <nz-tree-select [nzDropdownMatchSelectWidth]="false"
                      class="search__category"
                      nzPlaceHolder="Все категории"
                      [nzMultiple]="false"
                      [nzNodes]="nodes"
                      [nzSize]="'large'"
                      [(ngModel)]="categoryId"
                      (ngModelChange)="filterChange()"
      ></nz-tree-select>
      <nz-input-group class="search__input-wrapper" [nzSuffix]="suffixIconSearch" [nzSize]="'large'">
        <input [(ngModel)]="searchText" (change)="filterChange()" class="search__input" type="text" nz-input
               [nzSize]="'large'" placeholder="Поиск товаров"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div class="header__contact">
      <div class="site-header__phone-title">Обслуживание клиентов</div>
      <div class="site-header__phone-number"><i class="whatsaap-icon" nz-icon nzType="whats-app" nzTheme="outline"></i> (700) 352 362</div>
      <div class="site-header__phone-number">(554) 374 254</div>
    </div>
  </div>
  <app-nav-panel [categoryNodes]="categoryNodes"></app-nav-panel>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="footer-content">
      <div class="footer__col">
        <div class="footer__col-title">Контакты</div>
        <div class="footer__col-item">
          <a href="tel:+996 700 352 362">0 (700) 352 362</a>
        </div>
        <div class="footer__col-item">
          <a href="tel:+996 554 374 254">0 (554) 374 254</a>
        </div>
        <div class="footer__col-item">
          <a href="mailto:admin@batstoy.kg">admin@batstoy.kg</a>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__col-title">Мы соц.сетях</div>
        <div class="footer__col-item">
          <a href="https://www.instagram.com/batstroy/"  target="_blank">
            <img class="social-logo" src="assets/icons/instagram.svg" alt="instagram">
          </a>
          <a href="https://www.facebook.com/batstroy.kg" target="_blank">
            <img class="social-logo" src="assets/icons/facebook.svg" alt="facebook">
          </a>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__col-title">Наше мобильное приложение</div>
        <a href="https://play.google.com/store/apps/details?id=batstroy.kg">
          <img class="google-play-logo" src="assets/icons/google-play-badge-s.svg" alt="google-play-icon">
        </a>
      </div>
    </div>
    <div class="copyright">
      &copy; «БатСтрой», 2020
    </div>
  </div>
  <nz-back-top [nzTarget]="'body'" [nzVisibilityHeight]="100" [nzTemplate]="backTopTemplate"></nz-back-top>
</div>

<ng-template #backTopTemplate>
  <button class="backTop"><i nz-icon nzType="up" nzTheme="outline"></i></button>
</ng-template>
