<div class="container" #container>
  <div class="header">
    <div class="header__logo" routerLink="/">
      <img src="assets/img/1.png" alt="">
    </div>
    <div class="search">
      <nz-tree-select [nzDropdownMatchSelectWidth]="false"
                      class="search__category"
                      nzPlaceHolder="Все категории"
                      [nzMultiple]="false"
                      [nzNodes]="nodes"
                      [nzSize]="'large'"
                      [(ngModel)]="categoryId"
                      (ngModelChange)="filterChange()"
      ></nz-tree-select>
      <nz-input-group class="search__input-wrapper" [nzSuffix]="suffixIconSearch" [nzSize]="'large'">
        <input [(ngModel)]="searchText" (change)="filterChange()" class="search__input" type="text" nz-input [nzSize]="'large'" placeholder="Поиск товаров"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>

    </div>
    <div class="header__contact">
      <div class="site-header__phone-title">Обслуживание клиентов</div>
      <div class="site-header__phone-number">(505) 12-12-21</div>
    </div>
  </div>
  <app-nav-panel [categoryNodes]="categoryNodes"></app-nav-panel>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <nz-back-top [nzTarget]="container" [nzVisibilityHeight]="200"></nz-back-top>
</div>
