.container {
  height: 100%;
  width: 100%;
}


.header {
  margin: 0 auto;
  width: 1115px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-panel {
  height: 54px;
  background: #ffd333;
  box-shadow: 0 1px rgba(0, 0, 0, .04), inset 0 -1px rgba(0, 0, 0, .04);
  color: #3d464d;
  will-change: position;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.nav-panel__container {
  margin: 0 auto;
  width: 1115px;
  height: 100%;
  display: flex;
  padding: 5px 0;
}

.nav-panel__category {
  width: 150px;
  height: 100%;
  background-color: #3d464d;
  border-radius: 5px;
}

.nav-panel__menu {
  height: 100%;
  display: flex;
  margin-left: 20px;
}

.menu__item {
  height: 100%;
  padding: 0 20px;
  margin: auto 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  transition: 400ms;
  &:hover{
    background: hsla(0,0%,100%,.5);
  }
}
