<h2>Характеристики</h2>
<form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label nzRequired>Наименование</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <input type="text" nz-input formControlName="name">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Порядковый номер</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <input type="number" nz-input formControlName="orderNumber">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Возможные значение(перечисляйте через запятую ',')</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorBlock">
      <textarea type="text" nz-input formControlName="valueList"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button [nzType]="'primary'">Сохранить</button>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #errorBlock let-control>
  {{control.errors | validate}}
</ng-template>


