<div class="title">
  <h2>Компании</h2>
  <button nz-button [nzType]="'primary'" [nzSize]="'small'" routerLink="../create"> Добавить</button>
</div>


<nz-table #basicTable [nzData]="companies" [nzShowPagination]="false" [nzFrontPagination]="false">
  <thead>
  <tr>
    <th>ID</th>
    <th>Наименование</th>
    <th>Адрес</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.address }}</td>
    <td>
      <button nz-button [nzSize]="'small'" [nzType]="'dashed'" [routerLink]="['../update', data.id]"> Изменить</button>
      <button nz-button [nzSize]="'small'" [nzType]="'danger'" (click)="delete(data.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</nz-table>
