<div class="card" *ngIf="product" [routerLink]="['/product', product.id]">
  <div class="btn__full" (click)="openModal($event)">
    <i nz-icon nzType="fullscreen" nzTheme="outline"></i>
  </div>
  <div class="card__image">
    <img src="{{product.photos[0] | addHostToRelativePath}}" alt="name">
  </div>
  <div class="card__name">
    <a class="card__href" [routerLink]="['/product', product.id]">{{product.name}}</a>
  </div>
  <div class="card__price">{{product.price}} Сом</div>
  <div class="card__actions">
    <button class="card__btn" (click)="onClickAddToCart($event)">В корзину</button>
  </div>
</div>
